[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/empty-complete/SacrificeNvim
[submodule ".local/share/colorschemes/SacrificePalette"]
	path = .local/share/colorschemes/SacrificePalette
	url = https://github.com/empty-complete/SacrificePalette
