@import "themes/sacrifice.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
  transition: 0.3s ease-out;
}

window#waybar {
  background-color: alpha(@surface2, 0.2);
  border-radius: 10px;
  transition-property: background-color;
}

window#waybar > box {
  padding: 0 0;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 10px;
}

button:hover {
  background: inherit;
  border: none;
}

/* Workspaces styles */

#workspaces {
  font-weight: 800;
  margin-right: 5px;
  background-color: alpha(@accent-soft, 0.2);
  color: @subtext0;
  border-radius: 10px;
}

#workspaces button {
  border-radius: 2px;
  padding: 0 8px;
  color: inherit;
  background-color: transparent;
}

#workspaces button:first-child {
	border-radius: 10px 0 0 10px;
}

#workspaces button:last-child {
	border-radius: 0 10px 10px 0;
}

#workspaces button:hover {
  background: @accent-soft;
}

#workspaces button.active {
  background-color: @accent;
  color: @text;
}

#workspaces button.urgent {
  border-bottom: 2px solid @warning;
  border-radius: 0;
}

#workspaces button.urgent:nth-child(1) {
  border-bottom: 2px solid @warning;
  border-radius: 10px 0 0 10px;
}

#workspaces button.urgent:nth-last-child(1) {
  border-bottom: 2px solid @warning;
  border-radius: 0 10px 10px 0;
}

/* Hardware group styles */

#hardware {
  margin: 0 10px;
}

#cpu {
  padding-right: 10px;
}

#memory {
  padding-left: 10px;
}

/* Audio module styles */

#pulseaudio:hover {
  background-color: @accent-soft;
}

#pulseaudio {
  font-weight: 700;
  padding: 6px 10px;
  border-radius: 10px;
}

#pulseaudio.output.muted {
  color: @accent;
}
#pulseaudio.input.source-muted {
  color: @accent;
}


/* Tray */

#tray {
	margin-right: 5px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}


#group-power * {
	font-size: 110%;
	color: @text;
}

#group-power:hover {
	border-radius: 10px;
	background-color: alpha(@accent-soft, 0.2);
}

#group-power *:hover {
	background-color: @accent;
}


#group-power #custom-power {
	padding: 0 10px 0 5px;
	border-radius: 0 10px 10px 0;
}

#group-power #custom-quit {
	padding: 0 5px 0 5px;
	border-radius: 10px 0 0 10px;

}


/* Default module styles */

#battery,
#cpu,
#memory,
#temperature,
#network,
#window,
#tray,
#pulseaudio,
#bluetooth,
#clock,
#language {
  font-weight: 700;
  color: @text;
  padding: 6px 10px;
  border-radius: 10px;
}

.modules-right {
    background-color: @base;
	border-radius: 10px
}

.modules-left {
	background-color: @base;
	border-radius: 10px;
	padding: 0 0;
}

label:focus {
	background-color: @base;
}
